<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><!--<![endif]-->
{% include '/head.html' %}

<div id="content" class="clearfix">
	<div id="main" class="col620 clearfix" role="main">

		<article id="post-71" class="post-71 post type-post status-publish format-standard hentry category-9 tag-10 tag-11 tag-12 tag-13">
			<h2 style="margin-bottom: 15px;"><a href="/about">关于我</a></h2>

    <p><!-- pagebreak --></p>


<ul>
	<br>
		<li> Email: yuxiao2113@gmail.com</li>
	</br>
</ul>



</article>



	</div>

<div id="sidebar" class="widget-area col300" role="complementary">
<div id="sidebar-wrap" class="clearfix">
	{% include '/sider.html' %}
</div>
</div>

</div>
  










<footer id="colophon" role="contentinfo">
<div id="site-generator">
{% include '/foot.html' %}
</div>
</footer>

</div>




</body>




















